<p id="notice"><%= notice %></p>

<h1>Listing Pegawais</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pegawais.each do |pegawai| %>
      <tr>
        <td><%= pegawai.nama %></td>
        <td><%= pegawai.alamat %></td>
        <td><%= link_to 'Show', pegawai %></td>
        <td><%= link_to 'Edit', edit_pegawai_path(pegawai) %></td>
        <td><%= link_to 'Destroy', pegawai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pegawai', new_pegawai_path %>
